* {
    color: goldenrod;
    font-family: sans-serif;
}
body {
    background-color: #333;
}

#title {
    color: goldenrod;
    font-style: italic;
}

img {
    border-radius: 100px;
}

table {
    border-spacing: 30px;
}
